
body, *{
    margin: 0px;
    padding: 0px;
    /*max-height: 200px;*/
    min-height: 100px;
}


#intro{
    background-image: url('./img/sleepingBaby.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.center-center{
    margin-top: 25%;
}

.nav-bar{
    float: right;
    margin-right: 30px;
}

.grey-back{
    background-color: #F8F8F8;
    padding: 10%;
    height: 100vh;

}

.instruction-container{
    background-color: #4d4c4c;
    
    color: #E4C6D5;
    padding: 5%;

}


.instruction-container p{
    font-size: 18px;
    line-height: 32px;
    color: #EEE1D2;
    font-weight: 200;
    font-family: serif;
}

.score{
    color: #EDE49A;
    background-color: #B4CAC3;
    padding: 5%;
    margin-top: 5%;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.situations{

    background-color: #FBC222;
    color: #6C8B95;
    padding: 10%;
    
}

input{
    text-align: center;
}